body{
    background-color: rgb(215, 215, 217);
    color:rgb(8, 39, 85);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Space Mono', monospace;
}

.heading{
    color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-transform: capitalize;
    border: 2px solid rgb(0, 3, 3);
    background-image: linear-gradient(rgba(15, 189, 201, 0.795), rgba(0, 0, 0, 0.827));
    height: 75px;
    margin: 0 auto;
    padding:50px 20px; 
    
}

div.box{
    border:2px solid black;
    display: flex;
    margin-left: auto;
    flex-direction:column;
    align-content: center;
}

#calathea-makoyana{
    width: 500px;
    Height: auto:
}

.navigation{
    color:rgb(1, 75, 56);
    text-decoration: none;
}

a:hover{
    color: rgb(20, 220, 2);
    background-color: rgb(5, 55, 1);
}