body{
    background-color: rgb(126, 152, 127);
    color:black;
    text-align: center;
    font-family:cursive;
    font-style: oblique;
}

.heading{
    color: rgba(207, 239, 207, 0.974);
    border: 2px solid rgb(0, 3, 3);
    background-image: url('Images/banner.jpg');
    height: 75px;
    margin: 0 auto;
    padding:50px 20px; 
    
}

div.box{
    border:2px solid black;
    display: flex;
    margin-left: auto;
    flex-direction:column;
}

#calathea-makoyana{
    width: 500px;
    Height: auto:
}

.navigation{
    color:rgb(216, 247, 217);
    text-decoration: none;
}